<h3>
  Términos y condiciones
</h3>
<mat-dialog-content>
  <h4>PARA EL USO DEL PORTAL DE PAGOS SISEC – EXAMEN
    MÉDICO LICENCIA DE CONDUCCIÓN</h4>
  <p style="font-variant: all-small-caps;">Última actualización: 11/04/2020
  </p>
  <p>
    El presente documento, que en lo sucesivo se denominará TÉRMINOS Y
    CONDICIONES DEL SERVICIO, o simplemente TyC, contiene los lineamientos
    que regularán la prestación del servicio de procesamiento de pagos a
    través del portal de pagos SISEC® del Examen Médico Licencia de
    Conducción. Para todos los efectos, SISEC® es un software de propiedad
    de OLIMPIA IT S.A.S.
  </p>
  <ol>
    <li>Definiciones</li>
    <li>Abreviaturas</li>
    <li>Generalidades</li>
    <li>Declaraciones del Pagador</li>
    <li>Uso del Portal de Pagos</li>
    <li>Comisiones por el uso del Portal de Pagos</li>
    <li>Devoluciones</li>
    <li>Renuncia a garantías</li>
    <li>Tratamiento de Datos Personales y Protección de la Privacidad</li>
    <li>Jurisdicción y Ley Aplicable</li>
    <li>Terminación de los Servicios del Portal de Pagos</li>
    <li>Otras Disposiciones</li>
    <li>Canal de Contacto del Portal de Pagos</li>
    <li>Sobre los TyC</li>
  </ol>
  <h4>1. Definiciones</h4>
  <p>
    1.1. Centro de Reconocimiento de Conductores (CRC): Es la persona
    jurídica o natural propietaria de un establecimiento de comercio que
    funge como Organismo de Apoyo al Tránsito, debidamente autorizado,
    sometido a la inspección, vigilancia y control de la Superintendencia de
    Transporte, cuyo objeto social se circunscribe a la realización de todas
    las operaciones, negocios, actos y servicios propios de la actividad del
    sector de tránsito y transporte. 1.2. Medios de Pago: Serán las tarjetas
    de crédito y/o débito, emitidas por entidades financieras constituidas
    legalmente en la República de Colombia, que un Pagador utilice para
    hacer compras en el Portal de Pagos. 1.3. OLIMPIA: Hace referencia a
    OLIMPIA IT S.A.S., sociedad comercial legalmente constituida en la
    República de Colombia, y quien para los efectos de estos TyC será el
    prestador del servicio del Portal de Pagos. 1.4. Operador de Recaudo: Es
    la Entidad Financiera debidamente autorizada para efectuar el recaudo
    originado de la compra de los PIN, y con la cual OLIMPIA tiene una
    alianza para la realización de dicho recaudo. 1.5. Pagador: Es toda
    persona natural que accede al Portal de Pagos para comprar los PIN
    requeridos para pagar los servicios prestados por el CRC. 1.6. Pago PSE
    (o PSE): Transacción interbancaria que se realiza con a través de la
    plataforma de ACH, con la cual el Portal de Pagos tiene convenio. 1.7.
    PIN: Se refiere al medio de pago a través del cual el Pagador efectúa el
    pago del costo asociado a los servicios prestados por los CRC. 1.8.
    Portal de Pagos: Se refiere al portal de pagos SISEC® del Examen Médico
    Licencia de Conducción.
  </p>
  <h4>2. Abreviaturas</h4>
  <p>
    2.1. CRC: Centro de Reconocimiento de Conductores 2.2. TyC: Términos y
    Condiciones
  </p>
  <h4>3. Generalidades</h4>
  <p>
    3.1. Los presentes TyC regulan la prestación de los servicios de
    procesamiento de pagos a través del Portal de Pagos, los cuales el
    Pagador declara conocer y aceptar al hacer uso de esta plataforma. 3.2.
    El Pagador, al aceptar los presentes TyC, estará habilitado por el
    Portal de Pagos para usar su plataforma tecnológica para que realice
    compras en ambientes virtuales a través de los medios de pago que
    disponga.
  </p>
  <h4>4. Declaraciones del Pagador.</h4>
  <p>
    Pagos, dicha solicitud deberá ser dirigida directamente a OLIMPIA, a
    través de los canales que éste disponga para el efecto. 4.4. Cuando el
    Pagador utiliza el Portal de pagos reconoce que OLIMPIA actúa como
    mandatario de pagos del Pagador en relación la transacción que realiza a
    favor del CRC por los servicios con aquél contrata con éste. 4.5. Cuando
    se genere la reversión de los pagos, y dicha reversión se solicite en
    efectivo por medio de Punto de Pago, a dicha devolución se le descontará
    el valor de la transacción de los actores intermediarios que intervienen
    en la devolución en efectivo que ascenderá a un costo de CINCO MIL PESOS
    M/CTE. ($5.000) 4.6. OLIMPIA no será responsable, ni contractual o
    extracontractualmente, por ningún daño emergente, particular,
    incidental, lucro cesante, pérdida de oportunidad, entre otros, cuando
    se haga un uso indebido del Portal de Pagos.
  </p>
  <h4>5. Uso del Portal de Pagos</h4>
  <p>
    5.1. Al ingresar al Portal de Pagos, el Pagador deberá diligenciar los
    datos del CRC en el cual realizará los exámenes médicos para la
    obtención de su licencia de conducción. Será responsabilidad del Pagador
    el ingresar dichos datos de manera correcta. 5.2. El Pagador deberá
    seleccionar el medio de pago de los PIN, que para el caso son “Efectivo”
    o “PSE”. En el evento que el Pagador seleccione la opción “PSE”, éste
    declara que la cuenta bancaria y medios de pago que utilice para
    realizar la transacción son de su titularidad o de una persona que
    previamente hubiese autorizado al Pagador para realizar la transacción.
    5.3. El Pagador deberá ingresar todos sus datos personales, según se
    detalle en el Portal de Pagos. El Pagador es el único responsable por
    los datos que ingrese en el Portal de Pagos. Cualquier error de
    digitación de esta información será imputable al Pagador, incluso si la
    compra de un PIN se realiza habiendo ingresado de manera errónea sus
    datos. 5.4. La información sobre el valor del PIN será mostrada por el
    Portal de Pagos una vez el Pagador ingrese la totalidad de los datos
    solicitados en esta plataforma. 5.5. Antes de proceder con el pago, el
    Pagador deberá validar que la información incluida es correcta. Si el
    Pagador considera que algún dato ingresado tiene algún error, podrá
    restablecer los datos ingresados haciendo clic en el botón “Limpiar” o
    el que se habilite en el Portal de Pagos para estos efectos. 5.6. Una
    vez validada la información y el valor a pagar por el PIN, el Pagador
    podrá efectuar el pago solo después de haber leído y aceptado los
    presentes TyC. La aceptación de los TyC podrá hacerla el Pagador en el
    campo que para el efecto se habilite en el Portal de Pagos. 5.7. El
    Pagador tendrá la posibilidad de corregir, en el Portal de Pagos, el
    número de documento de identificación asociado al PIN, hasta dos (2)
    veces. Por cada intento de corrección, el Pagador tendrá la posibilidad
    de corregir hasta tres (3) cifras del número del documento. Si luego del
    segundo intento el Pagador incluye de manera errónea el número de
    identificación, éste perderá la posibilidad de usar el PIN, y deberá
    solicitar su devolución, de conformidad con lo establecido en el numeral
    7 de estos TyC. 5.8. Habiendo aceptado estos TyC, el Pagador podrá
    realizar la transacción de pago haciendo clic en el botón de pagos
    habilitado en el Portal de Pagos para el efecto. 5.9. El Pagador declara
    conocer y aceptar que, al hacer clic en el botón de pagos, el Portal de
    Pagos procesará esta solicitud de pagos y efectuará los cargos que para
    el efecto debió haber visualizado previamente el Pagador en el Portal de
    Pagos. 5.10. Todos los cobros asociados a las transacciones por pagos
    que se hubiesen procesado, luego de haber adelantado el procedimiento
    aquí descrito por parte del Pagador, se entenderán debidamente causados
    a favor del CRC y los demás participantes del proceso de pagos. 5.11. No
    habrá lugar a devolución de dineros por compra de PIN a través del
    Portal de Pago cuando se alegue un error de digitación de la información
    solicitada para la emisión de dicho PIN. 5.12. OLIMPIA se reserva del
    derecho de suspender o cancelar el uso que haga el Pagador del Portal de
    Pagos en el evento que se evidencie que éste ha incumplido con
    cualquiera de las disposiciones contenidas en los TyC.
  </p>
  <h4>6. Comisiones por el uso del Portal de Pagos</h4>
  <p>
    6.1. Las comisiones por el uso del Portal de Pagos serán informadas en
    esta plataforma al Pagador de manera previa a la realización del pago
    respectivo. Por lo anterior, al realizar el pago el Pagador acepta el
    valor del PIN informado en la plataforma.
  </p>
  <h4>7. Devoluciones</h4>
  <p>
    7.1. El Pagador podrá solicitar la devolución de los dineros pagados a
    través del Portal de Pagos, cuando la transacción realizada en esta
    plataforma cursó con algún error asociado, entre otros y sin limitarse
    a: 7.1.1. Error en la selección de la licencia a adquirir. 7.1.2.
    Errores en la inclusión de los datos del Pagador. 7.2. La lista de
    eventos señalada en el numeral 7.1 anterior es meramente enunciativa, y
    no exhaustiva. El Pagador podrá solicitar la devolución de los pagos
    realizados a través del Portal de Pago cuando le hubiese sido cargado el
    pago de un PIN, pero éste se hubiese emitido con errores. 7.3. El
    procedimiento de devolución supone que el Pagador realizó de manera
    exitosa la transacción de pago que asocia un recaudo de dinero a un PIN.
    Se entenderá que la operación de pago fue exitosa cuando el Portal de
    Pagos procesó la transacción y el dinero fue debitado de la cuenta
    bancaria del Pagador. 7.4. Para solicitar cualquier devolución de
    dinero, el Pagador deberá contar con el número de PIN que asocia el
    recaudo cuya devolución se solicita. 7.5. Procedimiento de Devoluciones
    7.5.1. Una vez realizado el pago cuya devolución se desea solicitar, el
    Pagador deberá ingresar a la opción (botón) “Devolución” que aparece en
    el Portal de Pagos. 7.5.2. Al ingresar a la opción “Devoluciones”, el
    Pagador deberá ingresar la información solicitada. Como mínimo, deberá
    ingresar el número de teléfono móvil al que desde el Portal de Pagos se
    le enviará una contraseña de único uso (One-time-password; OTP). 7.5.3.
    Una vez en la opción “Devolución”, el Pagador recibirá el OTP a través
    de un mensaje de texto (SMS) que será enviado al número de teléfono
    celular que previamente debió haber incluido en el Portal de Pagos,
    dentro del procedimiento de devolución. El OTP también será enviado por
    correo electrónico, a la cuenta de correo previamente incluido por el
    Pagador dentro del procedimiento de devolución. 7.5.4. Una vez recibido
    el OTP, el Portal de Pagos mostrará al Pagador una pantalla de
    confirmación de dicho OTP, para que el Pagador lo ingrese. 7.5.5. El
    Portal de Pagos deberá validar el OTP. Una vez validado, el Portal de
    Pagos mostrará al Pagador una pantalla en donde se podrá seleccionar el
    medio a través del cual gestionará la devolución. Para estos efectos,
    los medios disponibles para la devolución serán: 7.5.5.1. Pago por
    Transferencia Bancaria. Si el Pagador escoge la opción de devolución por
    pago por transferencia bancaria, el Pagador deberá incluir toda la
    información que se le solicita en el Portal de Pagos, que como mínimo
    será: el nombre del titular de la cuenta bancaria en que se realizará el
    depósito de la devolución, número de identificación del titular de la
    cuenta, tipo de cuenta bancaria (ahorro o corriente), y el banco de
    apertura de la cuenta. Si los datos de la cuenta bancaria incluida en el
    Portal de Pagos corresponden a una cuenta cuya titularidad es de persona
    distinta al Pagador, se asumirá que éste autoriza expresamente a OLIMPIA
    para hacer la devolución a nombre del Pagador. OLIMPIA no asume ninguna
    responsabilidad por la devolución efectuada al Pagador de los dineros
    recaudados por el PIN cuya devolución fue solicitada, y desembolsada en
    una cuenta de un tercero, cuando los datos de esta cuenta fueron
    provistos directamente por el Pagador. 7.5.5.2. Pago por ventanilla. Si
    el Pagador incluye la opción de devolución por pago por ventanilla, el
    Portal de Pagos mostrará un mensaje emergente que le indicará al Pagador
    que, para reclamar la devolución del dinero, deberá dirigirse a una de
    las oficinas de Bancolombia para tales efectos. Para realizar la
    reclamación, el Pagador deberá presentar el número del PIN respectivo.
  </p>
  <h4>8. Renuncia a garantías</h4>
  <p>
    8.1. Cuando el Pagador hace uso de los servicios del Portal de Pagos,
    éste declara que su uso se hace por su propia cuenta y riesgo. 8.2.
    OLIMPIA, en ninguna circunstancia otorga algún tipo de garantía de
    calidad, rendimiento, disponibilidad o acceso permanente al Portal de
    Pagos, de los sitios web y del servicio prestado por los CRC. De igual
    manera, OLIMPIA no garantiza que no habrá demoras en la validación de
    los pagos que realice el Pagador.
  </p>
  <h4>9. Tratamiento de Datos Personales y Protección de la Privacidad</h4>
  <p>
    9.1. Con la aceptación de estos TyC, el Pagador declara de manera libre,
    expresa, inequívoca e informada que autoriza a OLIMPIA IT S.A.S. para
    que, en los términos de la Ley 1581 de 2012 y las demás normas que sean
    aplicables a la materia, realice la recolección, almacenamiento, uso y
    circulación de mis datos personales, incluyendo datos sensibles de los
    cuales conozco el carácter facultativo de responder preguntas o
    solicitudes que versen sobre los mismos, como son mis huellas digitales,
    fotografías, videos y demás datos que puedan llegar a ser considerados
    como sensibles de conformidad con la Ley, para que dicho tratamiento se
    realice con el fin consultar y validar mi identidad contra las bases de
    datos que produce y administra la Registraduría Nacional del Estado
    Civil, para tramites públicos y/o privados en donde se establezcan
    protocolos de autenticación y validación de la identidad. El Pagador
    declara que ha informado de manera clara y comprensible los derechos que
    tiene a conocer, actualizar y rectificar los datos personales
    proporcionados, a solicitar prueba de esta autorización, a solicitar
    información sobre el uso que se le ha dado a mis datos personales, a
    presentar quejas ante la Superintendencia de Industria y Comercio por el
    uso indebido de sus datos personales, a revocar esta autorización o
    solicitar la supresión de los datos personales suministrados y a acceder
    de forma gratuita a los mismos. El Pagador declara, también, que ha sido
    informado sobre la Política de Protección de Datos Personales de OLIMPIA
    IT S.A.S., disponible en la página web es www.olimpiait.com y que ha
    sido puesto a su disposición la línea de atención al cliente (+57 1)
    7425133, oficina principal de OLIMPIA ubicada en la Av. El Dorado No. 69
    A – 51 Torre B, Piso 2, Oficina 202 en Bogotá D.C. y el correo
    electrónico protecciondatospersonales@olimpiait.com, para cualquier
    consulta o reclamación relacionada con el tratamiento de sus datos
    personales, que podrá ser elevada por escrito ante OLIMPIA IT S.A.S.,
    como Responsable del Tratamiento. OLIMPIA IT S.A.S., garantiza la
    confidencialidad, libertad, seguridad, veracidad, transparencia, acceso
    y circulación restringida de los datos del Pagador y se reserva el
    derecho de modificar su Política de Protección de Datos Personales en
    cualquier momento. Cualquier cambio será informado y publicado
    oportunamente en la página web de OLIMPIA. 9.2. OLIMPIA declara que el
    Pagador es el titular de sus propios datos personales. En este orden de
    ideas, OLIMPIA se compromete a garantizar el cumplimiento de la Ley de
    Protección de Datos Personales de Colombia (Ley 1581 de 2012) y
    cualquier otra disposición normativa que regule el Tratamiento de Datos
    Personales. 9.3. OLIMPIA efectuará el tratamiento de los datos
    personales de los Pagadores, de conformidad con lo establecido en su
    Política de Protección de Datos Personales, documento que puede ser
    consultado en la página web de OLIMPIA. 9.4. Al aceptar los TyC, el
    Pagador autoriza de manera expresa a OLIMPIA para efectuar el
    tratamiento de sus datos personales con las siguientes finalidades.
    9.4.1. Realizar la validación de sus datos con terceras entidades, entre
    otras y sin limitarse a entidades financieras emisoras de los medios de
    pago utilizados por el Pagador, las entidades administradoras de los
    Sistemas de Pago de Bajo Valor (p.e. Redeban, CredibanCo, ACH), con el
    propósito de procesar los pagos realizados por el Pagador en el Portal
    de Pagos. 9.4.2. Procesar la información para efectos de análisis y
    mitigación de riesgo de suplantación de identidad de los
    tarjetahabientes. 9.4.3. Prestar asistencia técnica al Pagador, en
    relación con el uso del Portal de Pagos. 9.4.4. Realizar el monitoreo
    transaccional del Portal de Pagos. 9.4.5. Realizar la personalización de
    los servicios prestados a través del Portal de Pagos. 9.4.6. Notificar
    sobre actualizaciones y corrección de fallos en los servicios del Portal
    de Pagos. 9.4.7. Realizar trámites al interior de OLIMPIA como análisis
    de datos, mejora de productos, comunicaciones con usuarios, auditorías
    internas, entre otros. 9.4.8. Enviar a los Pagadores información
    comercial y publicitaria de los servicios del Portal de Pagos y
    cualquier otro ofrecido por OLIMPIA. 9.4.9. Elaborar planes de mercadeo
    asociados a los productos ofrecidos por OLIMPIA. 9.4.10. Efectuar el
    tratamiento de los datos personales de los Pagadores en los servidores
    de OLIMPIA, los cuales podrán estar ubicados dentro del territorio de la
    República de Colombia o en terceros países. Así, con la aceptación de
    los TyC por parte de los Pagadores, estos autorizan a OLIMPIA para
    realizar el tratamiento de sus datos personales en servidores ubicados,
    incluso, en terceros países y, por lo tanto, autorizan a transferir su
    información personal fuera del territorio colombiano. 9.4.11. Almacenar
    los datos personales de los Pagadores por el tiempo que sea requerido,
    de conformidad con la legislación aplicable en materia de protección de
    datos personales.
  </p>
  <h4>10. Jurisdicción y Ley Aplicable</h4>
  <p>
    10.1. Cualquier conflicto o disputa que surgiera entre OLIMPIA y el
    Pagador con ocasión a la prestación del servicio del Portal de Pagos se
    sujetarán a la jurisdicción ordinaria de la República de Colombia. 10.2.
    OLIMPIA y el Pagador declaran que la ley aplicable a las disputas que
    entre éstos pudiere surgir será la de la República de Colombia.
  </p>
  <h4>11. Terminación de los Servicios del Portal de Pagos</h4>
  <p>
    11.1. El Pagador podrá cesar el uso del Portal de Pagos sin que para el
    efecto se requiera alguna notificación previa a OLIMPIA. 11.2. OLIMPIA
    podrá dar por terminada la prestación del servicio del Portal de Pagos a
    un Pagador de manera inmediata y sin que medie ninguna comunicación
    previa cuando ocurra alguna de las siguientes situaciones: 11.2.1.
    Cuando el Pagador incumpla alguna de las disposiciones de estos TyC.
    11.2.2. Cuando OLIMPIA, una vez adelantado el proceso de seguimiento y
    monitoreo respectivo, tiene sospechas razonablemente fundadas de que el
    Pagador está utilizando el Portal de Pagos para la ejecución de
    actividades fraudulentas. 11.2.3. Si OLIMPIA decide dejar de prestar el
    servicio de procesamiento de pagos.
  </p>
  <h4>12. Otras Disposiciones</h4>
  <p>
    12.1. En el evento que alguna autoridad judicial o arbitral establezca
    que alguna de las disposiciones contenidas en estos TyC es inválida o no
    ejecutable, la disposición así considerada se entenderá por no escrita.
    Así, las demás disposiciones de estos TyC que no hayan sido objeto de
    aquel pronunciamiento judicial o arbitral se mantendrán vigentes y
    completamente aplicables en la relación que hubiese surgido entre
    OLIMPIA y el Pagador por el uso del Portal de Pagos. 12.2. Este contrato
    no podrá ser cedido por el Pagador a un tercero sin el consentimiento
    expreso de OLIMPIA.
  </p>
  <h4>13. Canal de Contacto del Portal de Pagos</h4>
  <p>
    13.1. En cualquier momento, el Pagador podrá ponerse en contacto con
    OLIMPIA a través del correo electrónico que para el efecto establezca
    OLIMPIA, medio a través del cual éste atenderá de la manera más rápida y
    razonablemente posible con aquél dicho requerimiento. 13.2. Si el
    Pagador tiene alguna pregunta, inquietud o requerimiento relacionado con
    la Política de Protección de Datos Personales de OLIMPIA, podrá
    contactar a OLIMPIA a través del correo
    protecciondatospersonales@olimpiait.com, a través del cual recibirá
    respuesta a su solicitud.
  </p>
  <h4>14. Sobre los TyC.</h4>
  <p>
    14.1 OLIMPIA se reserva el derecho de modificar los TyC en cualquier
    tiempo, cuando lo considere necesario. En todo caso, OLIMPIA notificará
    a los Pagadores de manera previa la realización de tales modificaciones.
    14.2 Los Pagadores, y cualquier otra persona podrá consultar los TyC en
    la URL: <a href="/tramite/terminos-y-condiciones"
      target="_blank">milicencia.co</a>
    , o en aquella
    que OLIMPIA disponga para el efecto. 14.3 El uso del Portal de Pagos
    implica la aceptación de los TyC, así como sus posteriores
    modificaciones. 14.4 En caso de desacuerdo con los TyC, los Pagadores
    deberán abstenerse de usar los servicios del Portal de Pagos.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <a class="button-primary" (click)="openLink($event)">
    Cerrar
  </a>
</mat-dialog-actions>