<div class="wrapper">
  <div class="flex-column">
    <span style="font-variant: all-small-caps; margin-block-end: 0em;">Error 404</span>
    <h1>Esta página no existe</h1>
    <p class="explicacion">La página que buscas fue removida, renombrada o no se encuentra disponible ahora mismo. </p>
    <p class="explicacion mensaje">Revisa que la dirección esté escrita correctamente, o encuentra lo que necesitas
      desde
      nuestra <a href="#">página de inicio.</a>
    </p>
    <img class="cono" alt="imagen de cono de tráfico" [src]="'/assets/img/cono.svg' | imageSrc" />
    <hr>
  </div>
</div>