@mixin input-style {
  input {
    font-size: 1.125rem;
    border: 1px solid var(--gris-300);
    border-radius: 4px;

    &[type="text"],
    &[type="email"],
    &[type="password"],
    &[type="date"],
    &[type="number"],
    &[type="tel"] {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;

      &:focus {
        box-shadow: 0 0 4px 2px var(--amarillo-500);
      }
    }
  }

  select {
    font-size: 1.125rem;
    border: 1px solid var(--gris-300);
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;

    &:focus {
      box-shadow: 0 0 4px 2px var(--amarillo-500);
    }

    @supports (-webkit-appearance: menulist-textfield) {
      height: 40px;
    }
  }

  input[type="date"] {
    @supports (-webkit-appearance: menulist-textfield) {
      display: block;
    }
  }
}

select {
  font-size: 1.125rem;
  border: 1px solid var(--gris-300);
  border-radius: 4px;
  width: 100%;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 0 4px 2px var(--amarillo-500);
  }
}

@mixin fieldset-style {
  @include size-break;
  margin: 0 0 $Interlineado 0;
  padding: 1rem 0 0 0;
  border: none;
  box-sizing: border-box;

  legend {
    font-weight: 600;
    padding: 0;

    h1,
    h2,
    h3,
    h4 {
      margin-block-end: 0;
      margin-top: 0;
    }
  }
}

@mixin label-style {
  label {
    font-weight: 600;
    line-height: 1.5;
    display: block;
  }
}

@mixin texto-error {
  color: var(--rojo-500);
  font-weight: 700;
}

.error-formulario {
  @include texto-error;
  font-weight: 700;
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  .icono-svg {
    display: inline;
    width: 24px;
    height: 24px;
    margin-right: 0.3rem;
  }
}

.resumen-errores {
  @include size-break;

  padding: 16px;
  border: 4px solid var(--rojo-500);
  margin-block-end: $Interlineado;
  border-radius: 0.42em;
  box-sizing: border-box;

  ul {
    color: var(--rojo-500);
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        @include texto-error;
      }
    }
  }
}

.radio {
  @include fieldset-style;

  display: flex;
  flex-flow: column;

  div {
    padding: 0;
    margin: 0 0 0.5rem 0;
  }
}

.check {
  @extend .radio;
}

.fecha {
  @include fieldset-style;
  @include label-style;
  @include input-style;

  .flex-horizontal {
    display: flex;
    flex-direction: row;

    div {
      flex: 0 1 42px;

      &:nth-child(2) {
        margin: 0 8px;
      }

      &:nth-child(3) {
        flex-basis: 64px;
      }
    }
  }
}

.field {
  @include label-style;
  @include input-style;
  @include size-break;

  margin: 0 0 1.3rem 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.field-mapa {
  @include label-style;
  @include input-style;
  @include size-break;

  max-width: 100%;
  margin: 0 0 1.3rem 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.campo-login {
  @include label-style;
  @include input-style;
  margin: 0 0 1.3rem 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: var(--amarillo-500);
    --active-inner: #fff;
    --focus: 2px rgba(206, 133, 30, 0.3);
    --border: var(--gris-300);
    --border-hover: var(--amarillo-400);
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;

    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }

      & + label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }

    &:not(.switch) {
      width: 21px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    & + label {
      font-size: var(--scale-0);
      line-height: 24px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type="checkbox"] {
    &:not(.switch) {
      border-radius: 7px;

      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 6px;
        top: 3px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 38px;
      border-radius: 11px;

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }

    &:checked {
      --s: 0.5;
    }
  }
}

.radio-tarjeta {
  max-width: 25rem;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .radio-tarjeta {
    max-width: 75%;
  }
}

.radio-tarjeta legend {
  font-weight: 600;
  padding: 0;
  margin: 0 0 24px 0;
}

.radio-tarjeta legend h1,
.radio-tarjeta legend h2,
.radio-tarjeta legend h3,
.radio-tarjeta legend h4 {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.radio-tarjeta .grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 104px));
  width: 100%;
  margin-bottom: 24px;
}

.radio-tarjeta input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.radio-tarjeta input[type="radio"]:checked + label {
  background-color: var(--amarillo-100);
  border: var(--amarillo-100) solid 1px;
  -webkit-box-shadow: 0 0 0px 3px var(--amarillo-300);
  box-shadow: 0 0 0px 3px var(--amarillo-300);
}

.radio-tarjeta .card {
  box-sizing: content-box;
  border: var(--gris-300) solid 1px;
  border-radius: 4px;
  padding: 10px;
  background-color: var(--gris-100);
  margin: 0;
  display: block;
  color: var(--gris-900);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  transition: box-shadow 300ms ease-out;
}

.radio-tarjeta .card:hover {
  box-shadow: 0 0 4px 2px hsla(208, 100%, 50%, 0.32);
}

.radio-tarjeta .card .titulo {
  font-size: var(--scale-4);
  color: var(--gris-600);
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 600;
}

.radio-tarjeta .card .descripcion {
  font-size: 0.8rem;
  line-height: 1.2;
}
