<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="StaticContent" stopProcessing="true">
					<match url="([\S]+[.](jpg|jpeg|gif|css|png|js|ts|cscc|less|ico|html|map|svg))"/>
					<action type="None"/>
				</rule>
			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Pragma" value="no-cache"/>
				<add name="Strict-Transport-Security" value="max-age=31536000"/>
				<add name="X-Frame-Options" value="SAMEORIGIN"/>
				<add name="Content-Security-Policy" value="frame-src 'self' https://app.hubspot.com https://td.doubleclick.net/ www.googletagmanager.com https://apps.mypurecloud.com/messenger/messenger-renderer.html/ https://apps.mypurecloud.com/messenger/messenger.html/ https://www.youtube.com/ https://www.google.com/recaptcha/ https://apps.mypurecloud.com/ https://www.google.com/; frame-ancestors 'self'  https://td.doubleclick.net/ www.googletagmanager.com https://apps.mypurecloud.com/messenger/messenger-renderer.html/ https://apps.mypurecloud.com/messenger/messenger.html/ https://www.youtube.com/ https://www.google.com/recaptcha/  https://apps.mypurecloud.com/ https://www.google.com/ https://app.hubspot.com;" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge"/>
			<remove fileExtension=".svg"/>
			<remove fileExtension=".eot"/>
			<remove fileExtension=".ttf"/>
			<remove fileExtension=".woff"/>
			<remove fileExtension=".woff2"/>
			<remove fileExtension=".otf"/>
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
			<mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
			<mimeMap fileExtension=".woff2" mimeType="application/x-woff"/>
			<mimeMap fileExtension=".otf" mimeType="application/otf"/>
		</staticContent>
		<security>
			<requestFiltering removeServerHeader="true"/>
		</security>
		<directoryBrowse enabled="false"/>
	</system.webServer>
	<system.web>
		<httpRuntime maxUrlLength="1000"/>
	</system.web>
</configuration>
