//Custom css
.back-button{
  margin-right: 10px !important;
}

.file-upload {
  font-family: proxima-nova, sans-serif !important;
  font-size: 1.125rem;
  padding: 7px 0 !important;
  border: 1px solid var(--gris-300);;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.file-upload::-webkit-file-upload-button {
  cursor: pointer;
  font-family: proxima-nova, sans-serif !important;
  font-size: 15px;
  margin-left: 5px;
  padding: 5px;
  border: 1px solid var(--gris-300);
  border-radius: 4px;
}